@model IEnumerable<BitsOrchestra.Models.Record>

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
<script>
    function onEdit(editmode) {
        editmode = true;
    }
</script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Upload csv file </p>
    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="upload" class="btn"/>
        <span><input type="submit" value="Click to upload" class="btn btn-info"/></span>
    }
    <h3>Records</h3>
        <table class="table table-striped">
            <tr>
                <td>Name</td>
                <td>Date of Birth</td>
                <td>Married</td>
                <td>Phone</td>
                <td>Salary</td>
                <td></td>
            </tr>

            @foreach (var record in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => record.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => record.DateOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => record.Married)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => record.Phone)
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => record.Salary)
                    </th>
                    <td>
                        @using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { id = record.Id }))
                        {
                            <input type="submit" value="Edit" class="btn" />
                            <input type="hidden" value=@record.Id name="id" />
                        }
                        @using (Html.BeginForm("Delete", "Home", FormMethod.Post, new { id = record.Id }))
                        {
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            <input type="hidden" value=@record.Id name="id" />
                        }

                    </td>
                </tr>
            }
        </table>
   

</div>
<style>
    .btn{
        margin: 0px 10px;
        padding: 5px;
    }
</style>
